*{
    margin:0px;
    padding:0px;
}

body{
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
a:hover{
    color: #ff0000;
}
.container .content{
    /* margin-top: 80px; */
    padding: 60px;
}
.content h1{
    /* font-size: 36px;
    margin-bottom: 20px; */
}

.footer{
    background-color: #222222;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}